<head>
  <link rel="stylesheet" href="/stylesheets/create_recipe.css" />
</head>

<div class="create-recipe">
    <form action="/createRecipe/edit-recipe/{{recipe._id}}" method="POST" id="recipe-form">

        <h2>Edit Recipe {{recipe.name}}</h2>

        <label>Name: <br>
            <input type="text" name="name" value="{{recipe.name}}"/>
        </label>

        <br>
        <br>

        <label>Ingredients: <br><sub>Separated by a comma</sub><br>
            <input type="text" name="ingredients" class="ingredient" value="{{recipe.ingredients}}"/>
        </label>

        <br>
        <br>

        <label>URL: <br>
            <input type="url" name="url" value="{{recipe.url}}" />
        </label>

        <br>
        <br>

        <label>Steps: <br><sub>Separated by a comma</sub><br>
            <textarea name="steps" id="" cols="80" rows="15" value="{{{recipe.steps}}}">{{recipe.steps}}</textarea>
        </label>

        <br>
        <br>

        <button type="submit">Save recipe</button>

    </form>
</div>