{{#if recipe}}
    {{#each recipe}}
        <div>
            <h3>{{this.recipe.label}}</h3>
            <img src="{{this.recipe.image}}" alt="{{this.recipe.label}} image">
            <ul>
            {{#each this.recipe.ingredients}}
                <li>{{this.food}}</li>
            {{/each}}
            </ul>
            <form method="get" action="/recipe/{{this.ID}}">
                <button type="submit">Recipe Details</button>
            </form>
        </div>
    {{/each}}

{{else}}
    <h3>No recipes found for selected ingredients</h3>
{{/if}}