<head>
  <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>

<h1>Welcome {{userInSession.name}}!</h1>


<div class="recipes">

    {{#each user.recipes}}
        {{#unless this.fromAPI}}
            <div class="recipe-box">
                <div>
                    <h2>{{this.name}}</h2>
                </div>
                <img src="{{this.imageURL}}" alt="" width="300px" height="300px">
                <div>
                    <ul>
                        {{#each this.ingredients}}
                        <li><h4>{{this}}</h4></li>
                        {{/each}}
                    </ul>
                </div>

                <div>
                    <h4>{{this.steps}}</h4>
                </div>

                <a href="/createRecipe/edit-recipe/{{this._id}}">Update</a> <span> | </span>

                <a href="/createRecipe/delete-recipe/{{this._id}}">Delete</a>

            </div>
        {{/unless}}
    {{/each}}
    
</div>

