<head>
  <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>

<h1 class="welcome">Welcome <span class="welcome-name">{{userInSession.name}}</span>!</h1>


<div class="recipes">

    {{#each user.recipes}}
        {{#unless this.fromAPI}}
            <div class="recipe-box">
                <div>
                    <h3>{{this.name}}</h3>
                </div>
                <img src="{{this.imageURL}}" alt="" width="300px" height="300px">
                <div>
                    <ul>
                        {{#each this.ingredients}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div>
                    <ol>
                        {{#each this.steps}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                </div>

                <a href="/createRecipe/edit-recipe/{{this._id}}">Edit</a> <span> | </span>

                <a href="/createRecipe/delete-recipe/{{this._id}}">Delete</a>

            </div>
        {{/unless}}
    {{/each}}
    
</div>

