<head>
  <link rel="stylesheet" href="/stylesheets/recipes.css" />
</head>

{{#if userRecipes}}
    <div class="user-recipe">
        {{#each userRecipes}}
            <div class="recipe-box">
                <img src="{{this.imageURL}}" alt="{{this.name}} image" width="300px" height="300px">
                <h3>{{this.name}}</h3>
                {{#each this.ingredients}}
                    <li >{{this}}</li>
                {{/each}}
             
            </div>
        {{/each}}
    </div>
{{else}}
    <h3>No custom recipes found for selected ingredients</h3>
{{/if}}
{{#if recipe}}
    <div class="recipe">
        {{#each recipe}}

            <div class="recipe-box">
                <h3>{{this.recipe.label}}</h3>
                <div class="image-recipe">
                    <img src="{{this.recipe.image}}" alt="{{this.recipe.label}} image">
                </div>
                
                <div>
                    <ul>
                    {{#each this.coloredIngredients}}
                        <li class="{{this.color}}">{{this.ingredient}}</li>
                    {{/each}}
                    </ul>
                </div>

                <form method="get" action="/recipe/{{this.ID}}/{{../selectedIngredient}}">
                    <button type="submit">Recipe Details</button>
                </form>
            </div>
        {{/each}}
    </div>

{{else}}
    <h3>No API recipes found for selected ingredients</h3>
{{/if}}