<h1>{{recipe.label}}</h1>
<img src="{{recipe.image}}" alt="{{recipe.label}} image">
<h2>{{recipe.ingredientLines.length}} Ingredients</h2>
<ul>
    {{#each recipe.ingredientLines}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h3>{{recipe.calories}} calories / serving</h3>
<h3>{{recipe.totalDaily.ENERC_KCAL.quantity}} % daily value</h3>
{{!-- <form method="get" action="{{recipe.url}}">
 <button type="submit">See full recipe</button>
</form> --}}
<a  href="{{recipe.url}}" target="_blank">See full recipe</a>

<h1>EROSKI</h1>
{{#each eroskiPrices}}
    <h3>{{this.[0].[0]}} ({{this.[0].[1]}})</h3>
    <h3>{{this.[1]}}€</h3>

{{/each}}

<h1>MERCADONA</h1>
{{#each mercadonaPrices}}
    <h3>{{this.[0]}}</h3>
    <h3>{{this.[1]}}</h3>

{{/each}}


{{!-- <iframe src="{{recipe.url}}" title="description" style="width:1200px; height:1200px"></iframe> --}}