<head>
  <link rel="stylesheet" href="/stylesheets/recipe-details.css" />
</head>

<div class="details">

    <h1>{{recipe.label}}</h1>

    <div class="recipe-div">
 <div class="details-content">
        
        <div>
            <img src="{{recipe.image}}" alt="" width="350px" height="350px">
        </div>

        <div class="ing">
            <h2>{{recipe.ingredientLines.length}} Ingredients</h2>
            <ul>
                {{#each recipe.ingredientLines}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h3>{{recipe.calories}} calories / serving</h3>
            <h3>{{recipe.totalDaily.ENERC_KCAL.quantity}} % daily value</h3>

            <form action="{{recipe.url}}" target="_blank">
                <button type="submit" >See full recipe</button>
            </form>
            {{!-- <a  href="{{recipe.url}}" target="_blank">See full recipe</a> --}}
        </div>
    
    </div>
    </div>
   

    <h1>The best prices!</h1>
    <div class="scrap-content">

        <div class="prices">
            <a href="https://www.eroski.es/" target="_blank"><img src="/images/eroski_logo.png" alt="" width="260" height="60"></a>
            {{#each eroskiPrices}}
                <h5>{{this.[0]}}</h5>
                <h5>{{this.[1]}}€</h3>
            {{/each}}
            {{#each eroskiMongo}}
                <h5>{{this.description}}</h5>
                <h2>{{this.price}}€</h2>
            {{/each}}
        </div>

        <div class="prices">
            <a href="https://www.mercadona.es/" target="_blank"><img src="/images/mercadona_logo.png" alt="" width="260" height="50"></a>
            {{#each mercadonaPrices}}
                <h5>{{this.[0]}}</h5>
                <h5>{{this.[1]}}</h5>
            {{/each}}
            {{#each mercadonaMongo}}
                <h5>{{this.description}}</h5>
                <h2>{{this.price}}</h2>
            {{/each}}
        </div>

        <div class="prices">
            <a href="https://www.caprabo.com/ca/home/" target="_blank"><img src="/images/caprabo_logo.png" alt="" width="260" height="45"></a>
            {{#each capraboPrices}}
                <h5>{{this.[0]}}</h5>
                <h5>{{this.[1]}}</h5>
            {{/each}}
            {{#each capraboMongo}}
                <h5>{{this.description}}</h5>
                <h2>{{this.price}}</h2>
            {{/each}}
        </div>

        <div class="prices">
            <a href="https://www.carrefour.es/" target="_blank"><img src="/images/carrefour_logo.png" alt="" width="260" height="60"></a>
            {{#each carrefourPrices}}
                <h5>{{this.[0]}}</h5>
                <h5>{{this.[1]}}</h5>
            {{/each}}
            {{#each carrefourMongo}}
                <h5>{{this.description}}</h5>
                <h2>{{this.price}}</h2>
            {{/each}}
        </div>        

    </div>
   
</div>




{{!-- <iframe src="{{recipe.url}}" title="description" style="width:1200px; height:1200px"></iframe> --}}